{% extends "base.html" %}

{% block content %}
<h1>Students List</h1>

{% if students_grouped %}
    {% for department, students in students_grouped %}
    <h2>Department: {{ department.name }}</h2>
    <ul>
        {% for student in students %}
        <li>
            <!-- Link to the student's detail view -->
            <a href="{% url 'students:detail' student.pk %}">
                {{ student.full_name }} - {{ student.role }}
            </a>
            (Enrolled: {{ student.enrollment_date }})
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
{% else %}
    <p>No students found.</p>
{% endif %}
<h2>Teachers without Departments</h2>

{% if without_departments_students %}
    <ul>
    {% for student in without_departments_students %}
        <li>{{ student.full_name }} - No Department <a href="{% url 'students:edit' student.pk%}">Edit</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No students are currently without departments.</p>
{% endif %}
<!-- Link to create a new student -->
<p>
    <a href="{% url 'students:create' %}">Add New Student</a>
</p>

{% endblock %}
