{% extends "../base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
    {% if object %}
       {% trans "Edit Student" %}: {{ object.full_name }}
    {% else %}
       {% trans "Create New Student" %}
    {% endif %}
{% endblock %}
{% block content %}
<div class="container mt-4 mb-4">
  <div class="row justify-content-center">
    <div class="col-md-8">  <!-- Adjust the column size to restrict width -->
      <!-- Conditional Heading for Edit/Create -->
      {% if object %}
        <h2>{% trans "Edit Student" %}: {{ object.full_name }}</h2>
      {% else %}
        <h2>{% trans "Create New Student" %}</h2>
      {% endif %}
      <!-- Form with CSRF Token -->
      <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Display Validation Errors, if any -->
        {% if form.errors %}
          <div class="alert alert-danger">
            <ul>
              {% for field in form %}
                {% for error in field.errors %}
                  <li>{{ field.label }}: {{ error }}</li>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <!-- Display the form with Crispy Forms -->
        {{ form|crispy }}
        <!-- Flex container to align buttons on the same line -->
        <div class="d-flex justify-content-between mt-3">
          <!-- Submit Button aligned to the left -->
          <button type="submit" class="btn btn-primary">
            {% if object %}
              {% trans "Save Changes" %}
            {% else %}
              {% trans "Create" %}
            {% endif %}
          </button>
          <!-- Back to List Button aligned to the right -->
          <a href="{% url 'students:list' %}" class="btn btn-secondary">
            {% trans "Back to List" %}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
