{% extends 'base.html' %}

{% block title %}Student: {{ student.full_name }}{% endblock %}

{% block content %}
<h1>Student Details</h1>

<p><strong>Full Name:</strong> {{ student.full_name }}</p>
<p><strong>Department:</strong> {{ student.department.name }}</p>
<p><strong>Role:</strong> {{ student.role }}</p>
<p><strong>Enrollment Date:</strong> {{ student.enrollment_date }}</p>
<p><strong>Phone Number:</strong> {{ student.phone_number }}</p>
<p><strong>Contact Email:</strong> {{ student.contact_email }}</p>

<h2>Certificates</h2>
<ul>
  {% for certificate in student.certificates.all %}
    <li><a href="{% url 'certificates:detail' certificate.pk %}">{{ certificate.certificate_name }}</a></li>
  {% empty %}
    <li>No certificates found.</li>
    {% if self.request.user == teacher.user %}
        <a href="{% url 'certificates:create' %}">Add new certificates</a>
    {% endif %}
  {% endfor %}
</ul>

<a href="{% url 'students:edit' student.pk %}">Update</a> |
<a href="{% url 'students:delete' student.pk %}">Delete</a> |
<a href="{% url 'students:list' %}">Back to List</a>

{% endblock %}
