{% extends "../base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}{% trans "Create Certificate" %}{% endblock %}

{% block content %}
<div class="container mt-4">
  <div class="mb-3 row justify-content-center">
    <div class="col-md-8">
      <h2>{% trans "Create New Certificate" %}</h2>

      <form method="post">
        {% csrf_token %}
        
        {{ form|crispy }}  <!-- Render the form with crispy forms -->

        <!-- Flex container for buttons -->
        <div class="d-flex justify-content-between mt-3">
          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary">
            {% trans "Create" %}
          </button>

          <!-- Back to List Button -->
          <a href="{% url 'certificates:list' %}" class="btn btn-secondary">
            {% trans "Back to Certificates List" %}
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
