<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{%block title%}{%endblock%}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body>
        <!-- Display messages at the top of the page -->
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <hr>
    <div class="container">
    <ul>
      <li><a href="{% url 'faculties:list' %}">Faculties APP</a></li>
      <li><a href="{% url 'departments:list' %}">Departments APP</a></li>
      <li><a href="{% url 'managers:list' %}">Managers APP</a></li>
      <li><a href="{% url 'teachers:list' %}">Teachers APP</a></li>
      <li><a href="{% url 'students:list' %}">Students APP</a></li>
      <li><a href="{% url 'certificates:list' %}">Certificates APP</a></li>
      <li><a href="/admin">Admin panel</a></li>
    </ul>
    </div>
    <hr>
    {% block content %}{% endblock content %}
    <hr>
    <a href="javascript:window.history.back()">Go Back</a>
    <hr>
    {% if user.is_authenticated %}
      <p>Welcome back, {{ user.username }}!</p>
      <p>Ready to explore your dashboard?</p>
      <form action="{% url 'core:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Log Out</button>
      </form>
    {% else %}
      <p>Welcome to our platform!</p>
      <p>If you have an account, you can:</p>
      <ul>
        <li><a href="{% url 'core:login' %}">Log In</a> to access your account</li>
        <li><a href="{% url 'core:register' %}">Register</a> to create a new account</li>
        <li><a href="{% url 'password_reset' %}">Forgot Your Password?</a> to reset it</li>
      </ul>
      <p>If you're new here, we recommend registering to enjoy all our features.</p>
    {% endif %}

  </body>
</html>
