<h2>Set a New Password</h2>
<p>
  To ensure your account's security, please enter your new password twice. Make
  sure to choose a password that's unique and secure.
</p>

<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Reset Password</button>
</form>

<p>Tips for a strong password:</p>
<ul>
  <li>Use a mix of uppercase and lowercase letters, numbers, and symbols.</li>
  <li>Avoid common words, phrases, or easily guessed patterns.</li>
  <li>
    Consider using a password manager to generate and store secure passwords.
  </li>
</ul>

<p>
  If you encounter any issues during this process, please contact our support
  team for assistance.
</p>
<a href="{% url 'base' %}">Back to base</a>