<h2>Password Reset Successful!</h2>
<p>
  Congratulations! Your password has been successfully reset. You can now
  <a href="{% url 'core:login' %}">log in</a> with your new password.
</p>

<p>
  If you're using a password manager, don't forget to update it with your new
  password to ensure seamless access in the future.
</p>

<p>
  If you encounter any issues logging in or if you have questions, please
  contact our support team for assistance.
</p>

<p>Thank you for choosing our platform. We're glad to have you back!</p>
