{% extends "base.html" %}
{% load static i18n %}

{% block title %}{% trans "Set a New Password" %}{% endblock %}

{% block content %}
<section class="p-3 p-md-4 p-xl-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 bsb-tpl-bg-platinum">
        <div class="d-flex flex-column justify-content-between h-100 p-3 p-md-4 p-xl-5" style="background:#cecece;">
          <h3>{% trans "Welcome!" %}</h3>
          <img
            class="img-fluid rounded mx-auto my-4"
            loading="lazy"
            src="{% static 'assets/registration/image/password.jpg' %}"
            alt="{% trans "Password Image" %}"
            style="object-fit: cover; width: 100%; height: 100%;"
          >
          <p>
            {% blocktrans %}Not a member yet? {% endblocktrans %}<a href="{% url 'core:register' %}" class="link-secondary text-decoration-none"> {% trans "Register now" %} </a>
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 bsb-tpl-bg-lotion">
        <div class="p-3 p-md-4 p-xl-5">
          <h2>{% trans "Set a New Password" %}</h2>
          <p>
            {% blocktrans %}To ensure your account's security, please enter your new password twice. Make sure to choose a unique and secure password.{% endblocktrans %}
          </p>

          <!-- Display error messages if any -->
          {% if messages %}
          <div class="alert alert-danger">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
          {% endif %}

          <!-- Password Reset Form -->
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Displaying form fields -->
            <div class="d-grid">  <!-- Full-width button -->
              <button type="submit" class="btn btn-primary">{% trans "Reset Password" %}</button>
            </div>
          </form>

          <!-- Tips for a Strong Password -->
          <h3 class="mt-4">{% trans "Tips for a Strong Password:" %}</h3>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">{% trans "Use a mix of uppercase and lowercase letters, numbers, and symbols." %}</li>
            <li class="list-group-item">{% trans "Avoid common words, phrases, or easily guessed patterns." %}</li>
            <li class="list-group-item">{% trans "Consider using a password manager to generate and store secure passwords." %}</li>
          </ul>

          <!-- Support Information -->
          <p class="mt-4">
            {% blocktrans %}If you encounter any issues during this process, please contact our support team for assistance.{% endblocktrans %}
          </p>

          <div class="text-end mt-3">
            <a href="{% url 'home' %}" class="btn btn-link">{% trans "Back to Home" %}</a>  <!-- Navigation link -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
