<h2>Check Your Email</h2>
<p>
  We have sent password reset instructions to the email address you provided. If
  an account with that email exists, you should receive an email shortly.
</p>

<p>Didn't receive the email? Here are some things to check:</p>
<ul>
  <li>Ensure the email address you entered is correct.</li>
  <li>
    Check your spam or junk folder; sometimes the email might end up there.
  </li>
  <li>Give it a few minutes, as email delivery can sometimes be delayed.</li>
</ul>

<p>
  If you've tried these steps and still haven't received the email, please
  contact our support team for further assistance.
</p>
<a href="{% url 'base' %}">Back to base</a>